# Fichier de configuration sensible
.env

# Fichiers Python compilés
__pycache__/
*.py[cod]


# Fichiers temporaires d'édition
*.log
*.tmp
*.swp
*.bak
.DS_Store
Thumbs.db

desktop.ini

# IDE (VS Code, PyCharm, etc.)
.vscode/
.idea/